<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.uni.lu/snt/secan/ttc_xml/TTC_XML" 
       class = "lu.uni.snt.secan.ttc_xml.tTC_XML.TTC_XMLPackage"
       genModel = "model/generated/TTC_XML.genmodel" /> 
	
  </extension>



</plugin>
