<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.tub.tfs.henshin.tgg.interpreter.gui.LoadHandler"
            id="de.tub.tfs.henshin.tgg.interpreter.gui.loadCommand"
            name="Load Translator">
      </command>
      <command
            defaultHandler="de.tub.tfs.henshin.tgg.interpreter.gui.TransHandler"
            id="de.tub.tfs.henshin.tgg.interpreter.gui.transCommand"
            name="Translate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="lu.uni.snt.winforms2wpf.gui.toolbar"
               label="XML2Java">
            <command
                  commandId="de.tub.tfs.henshin.tgg.interpreter.gui.loadCommand"
                  label="Ld"
                  style="push"
                  tooltip="Load XML2Java translator">
            </command>
            <command
                  commandId="de.tub.tfs.henshin.tgg.interpreter.gui.transCommand"
                  label="Tr"
                  style="push"
                  tooltip="Translate XML to Java">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator?before=additions">
         <command
               commandId="de.tub.tfs.henshin.tgg.interpreter.gui.loadCommand"
               label="Load XML2Java translator"
               style="push">
         </command>
         <command
               commandId="de.tub.tfs.henshin.tgg.interpreter.gui.transCommand"
               label="Translate XML to Java"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.tub.tfs.henshin.tgg.interpreter.gui.loadCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+L">
      </key>
      <key
            commandId="de.tub.tfs.henshin.tgg.interpreter.gui.transCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+T">
      </key>
   </extension>

</plugin>
