<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="correspondece.CorrespondecePackage"
            genModel="cor.genmodel"
            uri="http://corr">
      </package>

      <package
            class="source.SourcePackage"
            genModel="source.genmodel"
            uri="http://source">
      </package>

      <package
            class="target.TargetPackage"
            genModel="target.genmodel"
            uri="http://target">
      </package>
   </extension>


</plugin>
