<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CORR -->
      <package
            uri="http://snt.uni.lu/TGGcorrespondence"
            class="TGG_correspondence.TGG_correspondencePackage"
            genModel="model/CORR.genmodel"/>
   </extension>

</plugin>
