<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://tgg.tu-berlin.de/TggInterpreterConfig" 
       class = "de.tub.tfs.henshin.tgg.interpreter.config.tggInterpreterConfig.TggInterpreterConfigPackage"
       genModel = "model/generated/TggInterpreterConfig.genmodel" /> 
	
  </extension>



</plugin>
